---
import Layout from '../layouts/Layout.astro';
const result = await Astro.locals.auth.validate();
---

<Layout title="Home">
  <div class="container mx-auto mt-8">
    <h1 class="text-3xl font-light mb-4">Home</h1>
    {result.isOk() && (
      <p class="text-gray-700">
        Hi {result.value.user.email}
      </p>
    )}
  </div>
</Layout>